.nav_logo:hover {
  animation: bounce 1s infinite alternate;
}

.nav_main {
  background-color: #424242ff;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 15px 25px 15px 25px;
  z-index: 99;
}

.nav_links {
  width: 50%;
  transform: translateX(-55px);
}

.nav_ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav_ul_inner {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav_ul_inner > li {
  cursor: pointer;
  /* FONT */
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 1.2vw;
  letter-spacing: 1px;
}

.nav_ul_inner > li:hover {
  color: wheat; 
}

.nav_ul_inner > li > a {
  all: unset;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.04);
  }
}

@media (max-width: 720px) {
  .nav_main {
    background-color: #424242ff;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 0px 0px 0px 0px;
  }
  .nav_ul {
    padding: 0px 22px 0px 22px;
  }
}
