/* PARENT */
.pageParentContainer {
  width: 100%;
  padding: 50px 0px 0px 0px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

/* 
====================================================
                    ADD TO CART MODAL
====================================================
*/

.modalContentParent {
  color: #424242ff;
  /* background-color: white; */
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  /* width: max-content; */
  padding: 0px 0px 10px 0px;
  border-radius: 7px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
/* 
====================================================
                    LEFT HALF
====================================================
*/

.cartCountContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(237, 237, 237);
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

.cartCountText {
  color: gray;
  font-size: 18px;
  margin: 0px 0px 0px 0px;
}

.shopSearchInput {
  background-color: #424242ff;
  width: 90%;
  border: 0px;
  border-radius: 5px;
  padding: 15px 10px 15px 10px;
  margin-bottom: 20px;
  color: white;
}

.filterContainer {
  background-color: #424242ff;
  border-radius: 15px;
  padding: 15px;
  color: white;
  margin: 0px 0px 20px 0px;
}

.filterContainer > h4 {
  width: 100%;
  font-size: 22px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid wheat;
}

/* FILTERS */

.allFiltersSubContainerTitle > span {
  /* FONT */
  color: black;
  letter-spacing: 1px;
  font-size: 18px;
}

.allFiltersSubContainer {
  background-color: transparent;
  /* margin: 5px; */
}

.allFiltersSubContainerTitle {
  cursor: pointer;
  padding: 5px 7px 5px 7px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.priceRangesToFilterBy {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  list-style: none;
  padding: 0px;
}

.priceRangesToFilterBy > li {
  cursor: pointer;
  padding: 5px 7px 5px 7px;
  background-color: rgb(255, 242, 220);
  border-radius: 10px;
  margin: 5px;
  /* FONT */
  color: black;
}

/* TAGS */
.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}

.tag:hover {
  background-color: rgb(213, 213, 213);
}

.tag {
  cursor: pointer;
  padding: 5px 7px 5px 7px;
  background-color: white;
  border-radius: 10px;
  margin: 5px;
  /* FONT */
  color: black;
  letter-spacing: 1px;
}

/* 
====================================================
                    RIGHT HALF
====================================================
*/

.smallCard > img:hover {
  cursor: pointer;
  animation: bounce 1s infinite alternate;
}

.smallCard > img {
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  /* border: 1px solid red; */
}

.smallCard {
  width: 20%;
  height: fit-content;
  margin: 0px 10px 30px 10px;
  padding: 20px 15px 15px 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 15px;
  /* justify-content: stretch;; */
}

.cardContainerTopFilter {
  border-bottom: 1px solid #424242ff;
  margin: 0px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* FONT */
  font-size: 22px;
  font-weight: bold;
  color: #424242ff;
}

.cardContainerViewOptions {
  cursor: pointer;
  border: 0px;
  background-color: transparent;
  padding: 10px 5px 10px 5px;
  margin: 4px 0px 0px 0px;
  font-size: 16x;
  text-transform: uppercase;
}

.cardContainerParent {
  text-transform: uppercase;
  width: 80%;
  padding: 0px 30px 0px 0px;
}

.cardContainer {
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}

.sideBarContainer > i {
  font-size: 16px;
}

.sideBarContainer {
  width: 20%;
  height: 100%;
  padding: 0px 30px 0px 30px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid green; */
}

.smallCardRowOne {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin: 20px 0px 15px 0px;
  padding: 10px 0px 10px 0px;
  border-top: 1px solid #424242ff;
  border-bottom: 1px solid #424242ff;
}

.smallCardRowTwo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.smallCardName {
  /* FONT */
  font-size: 18px;
  color: #424242ff;
}

.smallCardPrice {
  /* FONT */
  font-size: 16px;
  font-weight: bold;
}

.smallCardRemoveFromCart {
  padding: 1px 11px 4px 11px;
}

.smallCardAddToCart {
  padding: 1px 8px 4px 8px;
}

.smallCardRemoveFromCart,
.smallCardAddToCart {
  /* width: 48%; */
  cursor: pointer;
  background-color: rgb(158, 158, 158);
  color: white;
  border-radius: 25px;
  border: 0px;
  /* FONT */
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
}

.smallCardRemoveFromCart:active,
.smallCardAddToCart:active {
  background-color: rgb(53, 53, 53);
}

.moblieFilterResetBtn {
  background: maroon;
  color: white;
}

.moblieFilterResetBtn,
.moblieFilterSubmitBtn {
  font-weight: bold;
  font-size: 22px;
  padding: 15px 10px 15px 10px;
  border: 0px;
  border-radius: 10px;
}

.moblieFilterSubmitContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #424242ff;
  bottom: 0px;
  position: fixed;
  width: 100vw;
  padding: 20px;
}

.moblieFilterContainer {
  top: 0px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 98;
}

.filterBtn > img {
  width: 100%;
}

.filterBtn {
  cursor: pointer;
  bottom: 50px;
  right: 50px;
  position: fixed;
  padding: 15px;
  border: 0px;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  background: #424242ff;
}

@keyframes bounce {
  0% {
    transform: scale(1);
    transform: rotate(0deg);
  }
  0% {
    transform: scale(1);
    transform: rotate(2deg);
  }
  100% {
    transform: scale(1.02);
    transform: rotate(-2deg);
  }
}

@media (max-width: 720px) {
  .pageParentContainer {
    flex-direction: column-reverse;
  }
  .sideBarContainer {
    width: 100%;
    padding: 0px;
  }
  .cardContainerParent {
    width: 100%;
    padding: 0px;
  }
  .cardContainer {
    align-items: stretch;
    justify-content: center;
  }
  .smallCard {
    width: 33%;
  }
  .shopSearchInput,
  .filterContainer {
    width: 80%;
  }
  .shopSearchInput {
    color: white;
  }
  .cardContainerTopFilter {
    padding: 0px 20px 0px 20px;
  }
}
